### Libraries

In [1]:
import pandas as pd # version 0.25.1
import numpy as np # version 1.18.4

### Helper Functions

In [2]:
def quadrants384_to_96(data):

    quad1 = []
    for row in np.arange(0, 16, 2): 
        for col in np.arange(0, 23, 2):
            quad1.append(data.values[row, col])


    QUAD1_96 = pd.DataFrame(np.array(quad1).reshape([8, 12])) # 96
    QUAD1_96.columns = np.linspace(1, 12, 12, dtype = np.int)
    QUAD1_96['Row'] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
    QUAD1_96.set_index(['Row'], inplace = True)

    quad2 = []
    for row in np.arange(0, 16, 2): 
        for col in np.arange(1, 24, 2):
            quad2.append(data.values[row, col])


    QUAD2_96 = pd.DataFrame(np.array(quad2).reshape([8, 12])) # 96
    QUAD2_96.columns = np.linspace(1, 12, 12, dtype = np.int)
    QUAD2_96['Row'] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
    QUAD2_96.set_index(['Row'], inplace = True)

    quad3 = []
    for row in np.arange(1, 17, 2): 
        for col in np.arange(0, 23, 2):
            quad3.append(data.values[row, col])


    QUAD3_96 = pd.DataFrame(np.array(quad3).reshape([8, 12])) # 96
    QUAD3_96.columns = np.linspace(1, 12, 12, dtype = np.int)
    QUAD3_96['Row'] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
    QUAD3_96.set_index(['Row'], inplace = True)

    quad4 = []
    for row in np.arange(1, 17, 2): 
        for col in np.arange(1, 24, 2):
            quad4.append(data.values[row, col])


    QUAD4_96 = pd.DataFrame(np.array(quad4).reshape([8, 12])) # 96
    QUAD4_96.columns = np.linspace(1, 12, 12, dtype = np.int)
    QUAD4_96['Row'] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
    QUAD4_96.set_index(['Row'], inplace = True)

    return QUAD1_96, QUAD2_96, QUAD3_96, QUAD4_96

In [3]:
def mapValidation(mapAcc):
# map validation, mapping A
    num_control, num_neg, num_100, num_200, num_2000, num_20000 = 0, 0, 0, 0, 0, 0
    for row in mapAcc.values:
        #print(row)
        for value in row:
            if value == 'control':
                num_control += 1

            elif value == 'neg':
                num_neg += 1

            elif value == 100:
                num_100 += 1

            elif value == 200:
                num_200 += 1

            elif value == 2000:
                num_2000 += 1

            elif value == 20000:
                num_20000 += 1

    # print(num_control, num_neg, num_100, num_200, num_2000, num_20000) 

    assert num_control == 4, 'There is an invalid number of controls in Accuracy Mapping.'
    assert num_neg == 30, 'There is an invalid number of negatives in Accuracy Mapping.'
    assert num_100 == 20, 'There is an invalid number of 100 cps in Accuracy Mapping.'
    assert num_200 == 20, 'There is an invalid number of 200 cps in Accuracy Mapping.'
    return

In [4]:
def formatAccuracyReport(mapAcc, FAMdf, REDdf):
    
    idStart_neg, idStart_100cps, idStart_200cps, idStart_2000cps, idStart_20000cps = 1, 31, 51, 71, 76
    controlsWells_list = []
    controlSpecimenNumber_list = [] # keeping these two separate because we are unable to sort integers with strings.
                        # Will prepend this to our list instead.
    control_FAM_CT = []
    control_CalRed_CT = []
    control_specimen_in_concentration = []
    control_specimenResult = []

    wells_list = []
    specimenNumber_list = []
    FAM_CT = []
    CalRed_CT = []
    specimen_in_concentration = []
    specimen_in_concentration_cps = []
    specimen_result = []


    for index, row in mapAcc.iterrows():  
        for i in range(1,13):  
            mapValue = mapAcc.loc[index,i]
            correspondingValue = FAMdf.loc[index,i]
            correspondingRedValue = REDdf.loc[index,i]
            #print(mapValue, correspondingValue)

            if mapValue == 'control': # CONTROLS
                controlsWells_list.append(index + str(i))
                controlSpecimenNumber_list.append('Control')

                if (index == 'A' or index == 'C'):
                    control_specimen_in_concentration.append('Negative')
                elif (index == 'B' or index == 'D'):
                    control_specimen_in_concentration.append('Positive')


                control_FAM_CT.append(correspondingValue)
                control_CalRed_CT.append(correspondingRedValue) 

                if np.isnan(correspondingValue):
                    control_specimenResult.append('Negative')
                else:
                    control_specimenResult.append('Positive')

            elif mapValue == 'neg': # NEGATIVES
                wells_list.append(index + str(i))
                specimenNumber_list.append(idStart_neg)
                idStart_neg += 1
                
                FAM_CT.append(correspondingValue)
                
                
                CalRed_CT.append(correspondingRedValue) 

                specimen_in_concentration.append('Negative')
                specimen_in_concentration_cps.append('Negative')

                if np.isnan(correspondingValue): 
                    specimen_result.append('Negative')
                elif correspondingValue > 40:
                    specimen_result.append('Negative')
                else:
                    specimen_result.append('Positive')

            elif not(np.isnan(mapValue)):   # checking if it not nan    
                wells_list.append(index + str(i))
                FAM_CT.append(correspondingValue)
                CalRed_CT.append(correspondingRedValue) # leave out for now.
                specimen_in_concentration.append('Positive')
                specimen_in_concentration_cps.append(int(mapValue))

                if np.isnan(correspondingValue): 
                    specimen_result.append('Negative')
                elif correspondingValue >= 40:
                    specimen_result.append('Negative')
                else:
                    specimen_result.append('Positive')


                if mapValue == 100:
                    specimenNumber_list.append(idStart_100cps)
                    idStart_100cps += 1

                elif mapValue == 200:
                    specimenNumber_list.append(idStart_200cps)
                    idStart_200cps += 1

                elif mapValue == 2000:
                    specimenNumber_list.append(idStart_2000cps)
                    idStart_2000cps += 1

                elif mapValue == 20000:
                    specimenNumber_list.append(idStart_20000cps)
                    idStart_20000cps += 1

                    
    # sort everything by specimenNumber_list sorted indices.
    sort_accuracy = np.argsort(specimenNumber_list)
    specimenNumber_list = np.sort(specimenNumber_list)


    wells_list = np.array(wells_list)[sort_accuracy]
    FAM_CT = np.array(FAM_CT)[sort_accuracy]
    CalRed_CT = np.array(CalRed_CT)[sort_accuracy]
    specimen_in_concentration = np.array(specimen_in_concentration)[sort_accuracy]

    specimen_in_concentration_cps = np.array(specimen_in_concentration_cps)[sort_accuracy]
    specimen_result = np.array(specimen_result)[sort_accuracy]
    
    
    results_dict = {}
    #results_dict['Well Location'] = np.concatenate((np.array(controlsWells_list), wells_list))
    results_dict['Specimen Number'] = np.concatenate((np.array(controlSpecimenNumber_list), specimenNumber_list))
    results_dict['Specimen Concentration (cps/ mL)'] = np.concatenate((np.array(control_specimen_in_concentration), 
                                                   specimen_in_concentration))
    

    results_dict['CT Value SARS-CoV-2'] = np.concatenate((np.array(control_FAM_CT), FAM_CT))
    results_dict['CT Value RNASE P'] = np.concatenate((np.array(control_CalRed_CT), CalRed_CT))
    results_dict['Result'] = np.concatenate((np.array(control_specimenResult), specimen_result))

    results_dict['REPEAT Ct VALUE SARS-CoV-2'] = []
    

    
    for i, (specimen_num, true_specimen, result_specimen, FAM, RED) in enumerate(zip(results_dict['Specimen Number'],
                                                        results_dict['Specimen Concentration (cps/ mL)'], 
                                                        results_dict['Result'], results_dict['CT Value SARS-CoV-2'],
                                                        results_dict['CT Value RNASE P'])):

        if i < 4: # controls
            results_dict['REPEAT Ct VALUE SARS-CoV-2'].append('N/A') # controls.

        elif not(np.isnan(RED)): # if human sample is detected, proceed
            if true_specimen == result_specimen:
                if true_specimen == 'Negative':
                    if np.isnan(FAM) or FAM >= 40:
                        results_dict['REPEAT Ct VALUE SARS-CoV-2'].append('N/A') # PASS

                elif FAM < 36: # covid CT < 36 and cal red is present
                    results_dict['REPEAT Ct VALUE SARS-CoV-2'].append('N/A') # PASS

                elif FAM >= 36 and FAM < 40: # covid CT in repeat range and cal red is present
                    if int(specimen_num) <= 70: # checking if its not the 2000 or 20000 cps.
                        
                        if int(specimen_num) < 31 or int(specimen_num) > 50:
                         # 1/28/2021
                            results_dict['REPEAT Ct VALUE SARS-CoV-2'].append('REPEAT') # 1/28/2021
                            results_dict['Result'][i] = 'REPEAT' # 1/28/2021
                        else:
                            results_dict['REPEAT Ct VALUE SARS-CoV-2'].append('N/A')

#                         results_dict['REPEAT Ct VALUE SARS-CoV-2'].append('REPEAT') # 1/28/2021
#                         results_dict['Result'][i] = 'REPEAT' # 1/28/2021
                        
                    else: # if 2000 or 20000 cps, this is an automatic fail despite repeat.
                        results_dict['REPEAT Ct VALUE SARS-CoV-2'].append('REPEAT/FAIL') # still a fail on accuracy but write repeat anyway

                elif FAM >= 40:
                    results_dict['REPEAT Ct VALUE SARS-CoV-2'].append('FAIL')

            else: # if it does not equal it.
                # check for repeats
                if FAM >= 36 and FAM < 40: # covid CT in repeat range and cal red is present
                    if int(specimen_num) < 31 or int(specimen_num) > 50:
                         # 1/28/2021
                        results_dict['REPEAT Ct VALUE SARS-CoV-2'].append('REPEAT') # 1/28/2021
                        results_dict['Result'][i] = 'REPEAT' # 1/28/2021
                    else:
                        results_dict['REPEAT Ct VALUE SARS-CoV-2'].append('N/A')
                        
                   
                else: 
                    results_dict['REPEAT Ct VALUE SARS-CoV-2'].append('FAIL') 
        else: # if no human sample is detected, test fails
            results_dict['REPEAT Ct VALUE SARS-CoV-2'].append('FAIL')   
            
    results_dict['Specimen Concentration (cps/ mL)'] = np.concatenate((np.array(control_specimen_in_concentration), 
                                                   specimen_in_concentration_cps))
    
    results_dict['REPEAT Ct VALUE RNASE P'] = results_dict['REPEAT Ct VALUE SARS-CoV-2'].copy()
    results_dict['REPEAT RESULT'] = results_dict['REPEAT Ct VALUE SARS-CoV-2'].copy()

    pd.set_option("display.max_rows", None, "display.max_columns", None)
    accuracy_report = pd.DataFrame(results_dict)
    
    pd.options.display.float_format = '{:,.2f}'.format
    accuracy_report = accuracy_report.round(decimals = 2)

    return accuracy_report

### Accuracy Validation Method for 96 wells

In [5]:
def accuracyValidationMethod_96(accuracyMap_file: str, file: str):
    mapAcc = pd.read_excel(accuracyMap_file, index_col = 'Rows')
    
    mapValidation(mapAcc) # helper method
    
    FAMdf = pd.read_excel(file)
    FAMdf.rename(columns={'Unnamed: 0':'Rows'}, inplace=True)
    FAMdf.set_index('Rows', inplace = True)
    FAMdf = FAMdf[FAMdf['Unnamed: 1'] == 'Cq'].loc[:, FAMdf.columns != 'Unnamed: 1']
    FAMdf.columns = FAMdf.columns.astype('int64')
    
    
    REDdf = pd.read_excel(file,sheet_name = 1)
    REDdf.rename(columns={'Unnamed: 0':'Rows'}, inplace=True)
    REDdf.set_index('Rows', inplace = True)
    REDdf = REDdf[REDdf['Unnamed: 1'] == 'Cq'].loc[:, REDdf.columns != 'Unnamed: 1']
    REDdf.columns = REDdf.columns.astype('int64')

    accuracy_report = formatAccuracyReport(mapAcc, FAMdf, REDdf) # helper method
    
    return accuracy_report.fillna('N/A')

### Accuracy Validation Method for 384 wells

In [6]:
def accuracyValidationMethod_384(accuracyMap_Quad1: str, 
                                accuracyMap_Quad2: str, 
                                accuracyMap_Quad3: str,
                                accuracyMap_Quad4: str,
                                file: str, format_384: bool = False):
    
    
    accuracyMap_Quad1 = pd.read_excel(accuracyMap_Quad1, index_col = 'Rows')
    accuracyMap_Quad2 = pd.read_excel(accuracyMap_Quad2, index_col = 'Rows')
    accuracyMap_Quad3 = pd.read_excel(accuracyMap_Quad3, index_col = 'Rows')
    accuracyMap_Quad4 = pd.read_excel(accuracyMap_Quad4, index_col = 'Rows')
    
    
    
    FAMdf_384 = pd.read_excel(file)
    FAMdf_384.rename(columns={'Unnamed: 0':'Rows'}, inplace=True)
    FAMdf_384.set_index('Rows', inplace = True)
    FAMdf_384 = FAMdf_384[FAMdf_384['Unnamed: 1'] == 'Cq']
    FAMdf_384_filtered = FAMdf_384.loc[:, FAMdf_384.columns != 'Unnamed: 1']
    
    
    REDdf_384 = pd.read_excel(file, sheet_name = 1)
    REDdf_384.rename(columns={'Unnamed: 0':'Rows'}, inplace=True)
    REDdf_384.set_index('Rows', inplace = True)
    REDdf_384 = REDdf_384[REDdf_384['Unnamed: 1'] == 'Cq']
    REDdf_384_filtered = REDdf_384.loc[:, FAMdf_384.columns != 'Unnamed: 1']    
    
    accuracy_reports = []
    for FAM, RED, MAP in zip(quadrants384_to_96(FAMdf_384_filtered), 
                         quadrants384_to_96(REDdf_384_filtered),
                    [accuracyMap_Quad1, accuracyMap_Quad2, accuracyMap_Quad3, accuracyMap_Quad4]):
        
        accuracy_reports.append(formatAccuracyReport(mapAcc = MAP, FAMdf = FAM, REDdf = RED).fillna('N/A'))
        
        

    if format_384 == True:
        accuracy_reports = pd.concat(accuracy_reports)
        accuracy_reports_controls = accuracy_reports[accuracy_reports['Specimen Number'] == 'Control']
        accuracy_reports = accuracy_reports[accuracy_reports['Specimen Number'] != 'Control']
        accuracy_reports['Specimen Number'] = accuracy_reports['Specimen Number'].astype(int)
        accuracy_reports.sort_values(by = ['Specimen Number'], inplace =True)
        
        # accuracy_reports = pd.concat([accuracy_reports_controls, accuracy_reports])
        

        accuracy_reports['Specimen Number'] = np.linspace(1, len(accuracy_reports['Specimen Number']),
                                                         len(accuracy_reports['Specimen Number']), dtype=int)
        accuracy_reports = pd.concat([accuracy_reports_controls, accuracy_reports])
        
    return accuracy_reports

In [11]:
ls -lrt

total 2136
-rw-r--r--@ 1 isaacmenchaca  staff    5368 Jan 20 11:12 KF MAP 2.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff    5367 Jan 24 23:04 KF MAP 3.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   21798 Jan 26 19:15 AUTO ARON HAMILTON 384 CHECKER KF 5-8_2021-01-26 15-35-38_27 -  Quantification Plate View Results.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   21592 Jan 26 19:18 AUTOMATION HAMILTON 384 ACCURACY ARON KF 5 - 8_2021-01-26 15-12-27_28 -  Quantification Plate View Results.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   23620 Jan 27 12:12 AUTOMATION HAMILTON 384 UNIFORMITY ARON 2021-01-26 15-12-27_28 -  Quantification Plate View Results.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   23541 Jan 27 12:14 UNI-MKUI BETH 384 _2021-01-26 20-44-07_36 -  Quantification Plate View Results.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   23531 Jan 27 12:17 AUTOMATION BRAVO 384 UNIFORMITY _2021-01-26 -  Quantification Plate View Results.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   11253 Jan 28 12:40 AUTO-KF6-UNIFORM-012721 -  Quantification Plate View Results.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   11217 Jan 28 12:54 AUTO-KF7-UNIFORMITY -  Quantification Plate View Results.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   11232 Jan 28 13:54 AUTO-KF5-UNIFORM-012721 -  Quantification Plate View Results.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   11252 Jan 28 14:15 KF8-AUTOUNIFORMITY-012721-RERUN -  Quantification Plate View Results.xlsx
-rw-r--r--  1 isaacmenchaca  staff   18053 Jan 29 12:51 QC Report Data - 384 Aron Hamilton Accuracy.xlsx
-rw-r--r--  1 isaacmenchaca  staff  265708 Jan 29 13:35 checkerValidationMethod.ipynb
-rw-r--r--@ 1 isaacmenchaca  staff   21799 Jan 29 13:46 aron_auto_hamilton_384_checker_kf_5-8_2021-01-26_15-35-38_27_-__quantification_plate_view_results.xlsx
-rw-r--r--  1 isaacmenchaca  staff   17495 Jan 29 14:30 checkerboard data set up.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   23304 Jan 29 16:12 AUTO-AARON-REPCR-UNIFORMITY (1) -  Quantification Plate View Results.xlsx
-rw-r--r--  1 isaacmenchaca  staff  120267 Jan 29 17:50 checkerValidationMethod-Copy1.ipynb
-rw-r--r--@ 1 isaacmenchaca  staff   21487 Feb  1 14:28 AUTO HAMILTON BETH 384 ACCURACY 2021-01-26 (1) -  Quantification Plate View Results.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   21683 Feb  1 14:28 AUTOMATION HAMILTON 384 BETH CHECKER 01-26 16 (1) -  Quantification Plate View Results.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   61800 Feb  1 14:28 AUTOMATION HAMILTON 384 BETH CHECKER 01-26 16 (1) -  Quantification Cq Results.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   18046 Feb  1 14:57 QC Report Data - 384 BETH Hamilton Accuracy.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   23388 Feb  1 16:06 AUTOMATION UNIFORMITY BETH02012021 -  Quantification Plate View Results.xlsx
-rw-r--r--@ 1 isaacmenchaca  staff   23266 Feb  1 19:43 REPCR AUTOMATION UNIFORMITY BETH02012021 -  Quantification Plate View Results.xlsx
-rw-r--r--  1 isaacmenchaca  staff   28218 Feb  1 19:45 uniformityValidationMethod.ipynb
-rw-r--r--  1 isaacmenchaca  staff  210435 Feb  2 10:58 accuracyValidationMethod.ipynb

### Run data.

Run 96

In [ ]:
accuracyValidationMethod_96(accuracyMap_file = '', file = '')

Run 384 in 4 Quadrants

In [7]:
for df in accuracyValidationMethod_384(accuracyMap_Quad1 = 'KF MAP 2.xlsx', 
                                accuracyMap_Quad2 = 'KF MAP 3.xlsx', 
                                accuracyMap_Quad3 = 'KF MAP 3.xlsx',
                                accuracyMap_Quad4 = 'KF MAP 3.xlsx',
                                file = 'AUTOMATION HAMILTON 384 ACCURACY ARON KF 5 - 8_2021-01-26 15-12-27_28 -  Quantification Plate View Results.xlsx', 
                                format_384 = False):
    display(df)

,Specimen Number,Specimen Concentration (cps/ mL),CT Value SARS-CoV-2,CT Value RNASE P,Result,REPEAT Ct VALUE SARS-CoV-2,REPEAT Ct VALUE RNASE P,REPEAT RESULT
0,Control,Negative,N/A,N/A,Negative,N/A,N/A,N/A
1,Control,Positive,32.18,32.22,Positive,N/A,N/A,N/A
2,Control,Negative,N/A,N/A,Negative,N/A,N/A,N/A
3,Control,Positive,32.32,31.99,Positive,N/A,N/A,N/A
4,1,Negative,N/A,25.89,Negative,N/A,N/A,N/A
5,2,Negative,N/A,26.11,Negative,N/A,N/A,N/A
6,3,Negative,N/A,25.81,Negative,N/A,N/A,N/A
7,4,Negative,N/A,25.66,Negative,N/A,N/A,N/A
8,5,Negative,N/A,25.65,Negative,N/A,N/A,N/A
9,6,Negative,N/A,25.68,Negative,N/A,N/A,N/A
10,7,Negative,N/A,25.44,Negative,N/A,N/A,N/A
11,8,Negative,N/A,25.50,Negative,N/A,N/A,N/A
12,9,Negative,N/A,25.91,Negative,N/A,N/A,N/A
13,10,Negative,N/A,26.13,Negative,N/A,N/A,N/A
14,11,Negative,N/A,25.37,Negative,N/A,N/A,N/A
15,12,Negative,N/A,26.41,Negative,N/A,N/A,N/A
16,13,Negative,N/A,26.32,Negative,N/A,N/A,N/A
17,14,Negative,N/A,25.86,Negative,N/A,N/A,N/A
18,15,Negative,N/A,25.74,Negative,N/A,N/A,N/A
19,16,Negative,N/A,26.19,Negative,N/A,N/A,N/A
20,17,Negative,N/A,26.18,Negative,N/A,N/A,N/A
21,18,Negative,N/A,26.87,Negative,N/A,N/A,N/A
22,19,Negative,N/A,25.87,Negative,N/A,N/A,N/A
23,20,Negative,N/A,25.61,Negative,N/A,N/A,N/A
24,21,Negative,37.07,26.28,REPEAT,REPEAT,REPEAT,REPEAT
25,22,Negative,N/A,25.94,Negative,N/A,N/A,N/A
26,23,Negative,38.74,26.14,REPEAT,REPEAT,REPEAT,REPEAT
27,24,Negative,N/A,25.41,Negative,N/A,N/A,N/A
28,25,Negative,N/A,26.30,Negative,N/A,N/A,N/A
29,26,Negative,N/A,25.67,Negative,N/A,N/A,N/A
30,27,Negative,N/A,25.98,Negative,N/A,N/A,N/A
31,28,Negative,N/A,25.65,Negative,N/A,N/A,N/A
32,29,Negative,N/A,26.08,Negative,N/A,N/A,N/A
33,30,Negative,N/A,26.32,Negative,N/A,N/A,N/A
34,31,100,36.64,25.58,Positive,N/A,N/A,N/A
35,32,100,42.15,25.84,Negative,FAIL,FAIL,FAIL
36,33,100,36.54,25.86,Positive,N/A,N/A,N/A
37,34,100,35.74,25.70,Positive,N/A,N/A,N/A
38,35,100,35.78,25.51,Positive,N/A,N/A,N/A
39,36,100,37.70,25.84,Positive,N/A,N/A,N/A
40,37,100,38.32,26.03,Positive,N/A,N/A,N/A
41,38,100,36.62,25.72,Positive,N/A,N/A,N/A
42,39,100,36.14,25.81,Positive,N/A,N/A,N/A
43,40,100,36.46,26.16,Positive,N/A,N/A,N/A
44,41,100,39.48,25.27,Positive,N/A,N/A,N/A
45,42,100,35.70,25.85,Positive,N/A,N/A,N/A
46,43,100,37.68,25.93,Positive,N/A,N/A,N/A
47,44,100,37.15,26.37,Positive,N/A,N/A,N/A
48,45,100,36.02,26.01,Positive,N/A,N/A,N/A
49,46,100,38.50,26.04,Positive,N/A,N/A,N/A
50,47,100,35.71,25.63,Positive,N/A,N/A,N/A
51,48,100,35.67,25.93,Positive,N/A,N/A,N/A
52,49,100,36.34,25.95,Positive,N/A,N/A,N/A
53,50,100,N/A,27.08,Negative,FAIL,FAIL,FAIL
54,51,200,35.11,25.64,Positive,N/A,N/A,N/A
55,52,200,35.22,25.42,Positive,N/A,N/A,N/A
56,53,200,36.13,25.61,REPEAT,REPEAT,REPEAT,REPEAT
57,54,200,37.08,25.28,REPEAT,REPEAT,REPEAT,REPEAT
58,55,200,35.26,25.92,Positive,N/A,N/A,N/A
59,56,200,35.28,25.67,Positive,N/A,N/A,N/A
60,57,200,35.24,25.38,Positive,N/A,N/A,N/A
61,58,200,36.11,26.38,REPEAT,REPEAT,REPEAT,REPEAT
62,59,200,37.40,26.15,REPEAT,REPEAT,REPEAT,REPEAT
63,60,200,35.31,25.66,Positive,N/A,N/A,N/A
64,61,200,35.24,26.08,Positive,N/A,N/A,N/A
65,62,200,35.43,26.33,Positive,N/A,N/A,N/A
66,63,200,35.79,25.54,Positive,N/A,N/A,N/A
67,64,200,36.21,26.47,REPEAT,REPEAT,REPEAT,REPEAT
68,65,200,35.79,25.73,Positive,N/A,N/A,N/A
69,66,200,37.53,25.79,REPEAT,REPEAT,REPEAT,REPEAT
70,67,200,36.15,26.48,REPEAT,REPEAT,REPEAT,REPEAT
71,68,200,36.50,26.06,REPEAT,REPEAT,REPEAT,REPEAT
72,69,200,N/A,25.88,Negative,FAIL,FAIL,FAIL
73,70,200,36.89,26.29,REPEAT,REPEAT,REPEAT,REPEAT
74,71,2000,29.26,25.84,Positive,N/A,N/A,N/A
75,72,2000,29.14,26.15,Positive,N/A,N/A,N/A
76,73,2000,29.46,25.77,Positive,N/A,N/A,N/A
77,74,2000,29.44,26.36,Positive,N/A,N/A,N/A
78,75,2000,29.57,25.86,Positive,N/A,N/A,N/A
79,76,20000,26.02,26.11,Positive,N/A,N/A,N/A
80,77,20000,26.07,26.14,Positive,N/A,N/A,N/A
81,78,20000,25.85,25.78,Positive,N/A,N/A,N/A
82,79,20000,26.06,26.16,Positive,N/A,N/A,N/A
83,80,20000,25.95,25.78,Positive,N/A,N/A,N/A

,Specimen Number,Specimen Concentration (cps/ mL),CT Value SARS-CoV-2,CT Value RNASE P,Result,REPEAT Ct VALUE SARS-CoV-2,REPEAT Ct VALUE RNASE P,REPEAT RESULT
0,Control,Negative,N/A,N/A,Negative,N/A,N/A,N/A
1,Control,Positive,32.49,31.76,Positive,N/A,N/A,N/A
2,Control,Negative,N/A,N/A,Negative,N/A,N/A,N/A
3,Control,Positive,33.65,32.04,Positive,N/A,N/A,N/A
4,1,Negative,N/A,25.81,Negative,N/A,N/A,N/A
5,2,Negative,N/A,26.22,Negative,N/A,N/A,N/A
6,3,Negative,N/A,25.83,Negative,N/A,N/A,N/A
7,4,Negative,N/A,26.13,Negative,N/A,N/A,N/A
8,5,Negative,N/A,26.05,Negative,N/A,N/A,N/A
9,6,Negative,N/A,26.07,Negative,N/A,N/A,N/A
10,7,Negative,N/A,25.56,Negative,N/A,N/A,N/A
11,8,Negative,44.60,25.69,Negative,N/A,N/A,N/A
12,9,Negative,N/A,25.56,Negative,N/A,N/A,N/A
13,10,Negative,N/A,25.53,Negative,N/A,N/A,N/A
14,11,Negative,39.84,25.69,REPEAT,REPEAT,REPEAT,REPEAT
15,12,Negative,N/A,25.76,Negative,N/A,N/A,N/A
16,13,Negative,N/A,25.03,Negative,N/A,N/A,N/A
17,14,Negative,N/A,25.53,Negative,N/A,N/A,N/A
18,15,Negative,N/A,25.41,Negative,N/A,N/A,N/A
19,16,Negative,N/A,26.08,Negative,N/A,N/A,N/A
20,17,Negative,N/A,25.64,Negative,N/A,N/A,N/A
21,18,Negative,N/A,25.91,Negative,N/A,N/A,N/A
22,19,Negative,N/A,25.79,Negative,N/A,N/A,N/A
23,20,Negative,N/A,26.06,Negative,N/A,N/A,N/A
24,21,Negative,N/A,26.05,Negative,N/A,N/A,N/A
25,22,Negative,N/A,25.88,Negative,N/A,N/A,N/A
26,23,Negative,N/A,25.81,Negative,N/A,N/A,N/A
27,24,Negative,N/A,25.69,Negative,N/A,N/A,N/A
28,25,Negative,N/A,25.41,Negative,N/A,N/A,N/A
29,26,Negative,N/A,26.02,Negative,N/A,N/A,N/A
30,27,Negative,N/A,26.08,Negative,N/A,N/A,N/A
31,28,Negative,N/A,24.99,Negative,N/A,N/A,N/A
32,29,Negative,N/A,26.15,Negative,N/A,N/A,N/A
33,30,Negative,N/A,26.16,Negative,N/A,N/A,N/A
34,31,100,37.21,25.28,Positive,N/A,N/A,N/A
35,32,100,36.42,26.02,Positive,N/A,N/A,N/A
36,33,100,37.13,25.56,Positive,N/A,N/A,N/A
37,34,100,39.76,25.62,Positive,N/A,N/A,N/A
38,35,100,37.18,25.57,Positive,N/A,N/A,N/A
39,36,100,38.57,25.78,Positive,N/A,N/A,N/A
40,37,100,37.39,25.23,Positive,N/A,N/A,N/A
41,38,100,36.27,25.97,Positive,N/A,N/A,N/A
42,39,100,39.14,26.07,Positive,N/A,N/A,N/A
43,40,100,N/A,25.72,Negative,FAIL,FAIL,FAIL
44,41,100,36.07,25.76,Positive,N/A,N/A,N/A
45,42,100,37.73,25.85,Positive,N/A,N/A,N/A
46,43,100,38.81,26.11,Positive,N/A,N/A,N/A
47,44,100,37.75,25.72,Positive,N/A,N/A,N/A
48,45,100,39.04,26.00,Positive,N/A,N/A,N/A
49,46,100,37.63,26.26,Positive,N/A,N/A,N/A
50,47,100,N/A,25.89,Negative,FAIL,FAIL,FAIL
51,48,100,38.64,26.02,Positive,N/A,N/A,N/A
52,49,100,N/A,25.77,Negative,FAIL,FAIL,FAIL
53,50,100,36.45,25.83,Positive,N/A,N/A,N/A
54,51,200,34.75,25.15,Positive,N/A,N/A,N/A
55,52,200,36.06,25.78,REPEAT,REPEAT,REPEAT,REPEAT
56,53,200,35.68,25.70,Positive,N/A,N/A,N/A
57,54,200,36.21,25.19,REPEAT,REPEAT,REPEAT,REPEAT
58,55,200,35.48,25.50,Positive,N/A,N/A,N/A
59,56,200,36.42,25.67,REPEAT,REPEAT,REPEAT,REPEAT
60,57,200,35.79,25.63,Positive,N/A,N/A,N/A
61,58,200,37.16,25.90,REPEAT,REPEAT,REPEAT,REPEAT
62,59,200,N/A,25.62,Negative,FAIL,FAIL,FAIL
63,60,200,35.58,26.01,Positive,N/A,N/A,N/A
64,61,200,37.44,25.64,REPEAT,REPEAT,REPEAT,REPEAT
65,62,200,36.39,25.44,REPEAT,REPEAT,REPEAT,REPEAT
66,63,200,35.37,25.89,Positive,N/A,N/A,N/A
67,64,200,36.48,25.92,REPEAT,REPEAT,REPEAT,REPEAT
68,65,200,37.49,25.71,REPEAT,REPEAT,REPEAT,REPEAT
69,66,200,36.62,25.92,REPEAT,REPEAT,REPEAT,REPEAT
70,67,200,37.20,25.90,REPEAT,REPEAT,REPEAT,REPEAT
71,68,200,35.67,26.07,Positive,N/A,N/A,N/A
72,69,200,36.21,25.63,REPEAT,REPEAT,REPEAT,REPEAT
73,70,200,37.15,26.04,REPEAT,REPEAT,REPEAT,REPEAT
74,71,2000,30.63,25.63,Positive,N/A,N/A,N/A
75,72,2000,30.64,25.88,Positive,N/A,N/A,N/A
76,73,2000,30.32,25.71,Positive,N/A,N/A,N/A
77,74,2000,30.89,26.00,Positive,N/A,N/A,N/A
78,75,2000,30.78,26.14,Positive,N/A,N/A,N/A
79,76,20000,27.28,25.65,Positive,N/A,N/A,N/A
80,77,20000,27.31,25.70,Positive,N/A,N/A,N/A
81,78,20000,27.21,25.86,Positive,N/A,N/A,N/A
82,79,20000,27.54,25.95,Positive,N/A,N/A,N/A
83,80,20000,27.47,25.97,Positive,N/A,N/A,N/A

,Specimen Number,Specimen Concentration (cps/ mL),CT Value SARS-CoV-2,CT Value RNASE P,Result,REPEAT Ct VALUE SARS-CoV-2,REPEAT Ct VALUE RNASE P,REPEAT RESULT
0,Control,Negative,N/A,N/A,Negative,N/A,N/A,N/A
1,Control,Positive,34.47,32.88,Positive,N/A,N/A,N/A
2,Control,Negative,N/A,N/A,Negative,N/A,N/A,N/A
3,Control,Positive,33.81,33.14,Positive,N/A,N/A,N/A
4,1,Negative,N/A,24.70,Negative,N/A,N/A,N/A
5,2,Negative,N/A,25.00,Negative,N/A,N/A,N/A
6,3,Negative,N/A,25.02,Negative,N/A,N/A,N/A
7,4,Negative,N/A,25.02,Negative,N/A,N/A,N/A
8,5,Negative,N/A,24.95,Negative,N/A,N/A,N/A
9,6,Negative,N/A,25.01,Negative,N/A,N/A,N/A
10,7,Negative,N/A,24.38,Negative,N/A,N/A,N/A
11,8,Negative,N/A,24.71,Negative,N/A,N/A,N/A
12,9,Negative,N/A,24.53,Negative,N/A,N/A,N/A
13,10,Negative,N/A,25.17,Negative,N/A,N/A,N/A
14,11,Negative,N/A,25.12,Negative,N/A,N/A,N/A
15,12,Negative,N/A,24.75,Negative,N/A,N/A,N/A
16,13,Negative,N/A,24.50,Negative,N/A,N/A,N/A
17,14,Negative,N/A,24.67,Negative,N/A,N/A,N/A
18,15,Negative,N/A,25.25,Negative,N/A,N/A,N/A
19,16,Negative,N/A,25.35,Negative,N/A,N/A,N/A
20,17,Negative,N/A,25.04,Negative,N/A,N/A,N/A
21,18,Negative,N/A,25.16,Negative,N/A,N/A,N/A
22,19,Negative,N/A,25.35,Negative,N/A,N/A,N/A
23,20,Negative,N/A,25.23,Negative,N/A,N/A,N/A
24,21,Negative,40.63,24.62,Negative,N/A,N/A,N/A
25,22,Negative,N/A,24.75,Negative,N/A,N/A,N/A
26,23,Negative,N/A,25.06,Negative,N/A,N/A,N/A
27,24,Negative,N/A,24.70,Negative,N/A,N/A,N/A
28,25,Negative,N/A,25.07,Negative,N/A,N/A,N/A
29,26,Negative,43.88,25.12,Negative,N/A,N/A,N/A
30,27,Negative,N/A,25.38,Negative,N/A,N/A,N/A
31,28,Negative,N/A,24.78,Negative,N/A,N/A,N/A
32,29,Negative,N/A,25.01,Negative,N/A,N/A,N/A
33,30,Negative,N/A,24.94,Negative,N/A,N/A,N/A
34,31,100,39.13,24.56,Positive,N/A,N/A,N/A
35,32,100,35.75,24.84,Positive,N/A,N/A,N/A
36,33,100,37.03,25.01,Positive,N/A,N/A,N/A
37,34,100,36.98,24.97,Positive,N/A,N/A,N/A
38,35,100,35.39,24.62,Positive,N/A,N/A,N/A
39,36,100,36.62,25.16,Positive,N/A,N/A,N/A
40,37,100,39.94,24.91,Positive,N/A,N/A,N/A
41,38,100,35.79,25.46,Positive,N/A,N/A,N/A
42,39,100,N/A,25.33,Negative,FAIL,FAIL,FAIL
43,40,100,37.48,24.49,Positive,N/A,N/A,N/A
44,41,100,36.49,24.89,Positive,N/A,N/A,N/A
45,42,100,37.45,25.04,Positive,N/A,N/A,N/A
46,43,100,36.28,25.33,Positive,N/A,N/A,N/A
47,44,100,36.33,24.88,Positive,N/A,N/A,N/A
48,45,100,34.96,25.20,Positive,N/A,N/A,N/A
49,46,100,37.68,25.32,Positive,N/A,N/A,N/A
50,47,100,36.65,25.15,Positive,N/A,N/A,N/A
51,48,100,36.17,25.02,Positive,N/A,N/A,N/A
52,49,100,36.43,25.22,Positive,N/A,N/A,N/A
53,50,100,37.20,25.17,Positive,N/A,N/A,N/A
54,51,200,36.46,25.02,REPEAT,REPEAT,REPEAT,REPEAT
55,52,200,36.39,24.74,REPEAT,REPEAT,REPEAT,REPEAT
56,53,200,36.50,24.90,REPEAT,REPEAT,REPEAT,REPEAT
57,54,200,34.59,24.83,Positive,N/A,N/A,N/A
58,55,200,35.28,24.73,Positive,N/A,N/A,N/A
59,56,200,35.67,24.79,Positive,N/A,N/A,N/A
60,57,200,35.97,25.16,Positive,N/A,N/A,N/A
61,58,200,35.86,25.46,Positive,N/A,N/A,N/A
62,59,200,37.28,25.25,REPEAT,REPEAT,REPEAT,REPEAT
63,60,200,35.48,24.61,Positive,N/A,N/A,N/A
64,61,200,35.93,25.11,Positive,N/A,N/A,N/A
65,62,200,35.49,24.72,Positive,N/A,N/A,N/A
66,63,200,35.40,25.01,Positive,N/A,N/A,N/A
67,64,200,35.33,25.01,Positive,N/A,N/A,N/A
68,65,200,35.31,24.95,Positive,N/A,N/A,N/A
69,66,200,36.18,24.79,REPEAT,REPEAT,REPEAT,REPEAT
70,67,200,35.74,24.96,Positive,N/A,N/A,N/A
71,68,200,36.42,25.04,REPEAT,REPEAT,REPEAT,REPEAT
72,69,200,35.31,25.02,Positive,N/A,N/A,N/A
73,70,200,35.07,25.11,Positive,N/A,N/A,N/A
74,71,2000,30.56,24.82,Positive,N/A,N/A,N/A
75,72,2000,30.88,25.07,Positive,N/A,N/A,N/A
76,73,2000,30.51,24.97,Positive,N/A,N/A,N/A
77,74,2000,30.70,25.10,Positive,N/A,N/A,N/A
78,75,2000,30.65,25.13,Positive,N/A,N/A,N/A
79,76,20000,27.34,25.11,Positive,N/A,N/A,N/A
80,77,20000,27.14,24.88,Positive,N/A,N/A,N/A
81,78,20000,27.12,25.01,Positive,N/A,N/A,N/A
82,79,20000,27.10,24.85,Positive,N/A,N/A,N/A
83,80,20000,27.15,25.14,Positive,N/A,N/A,N/A

,Specimen Number,Specimen Concentration (cps/ mL),CT Value SARS-CoV-2,CT Value RNASE P,Result,REPEAT Ct VALUE SARS-CoV-2,REPEAT Ct VALUE RNASE P,REPEAT RESULT
0,Control,Negative,N/A,N/A,Negative,N/A,N/A,N/A
1,Control,Positive,33.79,31.53,Positive,N/A,N/A,N/A
2,Control,Negative,43.09,N/A,Positive,N/A,N/A,N/A
3,Control,Positive,32.30,31.09,Positive,N/A,N/A,N/A
4,1,Negative,N/A,24.88,Negative,N/A,N/A,N/A
5,2,Negative,N/A,25.29,Negative,N/A,N/A,N/A
6,3,Negative,N/A,25.68,Negative,N/A,N/A,N/A
7,4,Negative,N/A,25.23,Negative,N/A,N/A,N/A
8,5,Negative,N/A,25.33,Negative,N/A,N/A,N/A
9,6,Negative,N/A,25.48,Negative,N/A,N/A,N/A
10,7,Negative,N/A,25.04,Negative,N/A,N/A,N/A
11,8,Negative,N/A,25.20,Negative,N/A,N/A,N/A
12,9,Negative,N/A,24.88,Negative,N/A,N/A,N/A
13,10,Negative,N/A,25.76,Negative,N/A,N/A,N/A
14,11,Negative,40.95,25.54,Negative,N/A,N/A,N/A
15,12,Negative,N/A,25.20,Negative,N/A,N/A,N/A
16,13,Negative,N/A,25.32,Negative,N/A,N/A,N/A
17,14,Negative,N/A,24.74,Negative,N/A,N/A,N/A
18,15,Negative,N/A,25.48,Negative,N/A,N/A,N/A
19,16,Negative,N/A,25.20,Negative,N/A,N/A,N/A
20,17,Negative,N/A,25.67,Negative,N/A,N/A,N/A
21,18,Negative,N/A,25.53,Negative,N/A,N/A,N/A
22,19,Negative,N/A,25.25,Negative,N/A,N/A,N/A
23,20,Negative,N/A,25.72,Negative,N/A,N/A,N/A
24,21,Negative,N/A,25.24,Negative,N/A,N/A,N/A
25,22,Negative,N/A,25.10,Negative,N/A,N/A,N/A
26,23,Negative,N/A,25.35,Negative,N/A,N/A,N/A
27,24,Negative,N/A,25.05,Negative,N/A,N/A,N/A
28,25,Negative,N/A,25.75,Negative,N/A,N/A,N/A
29,26,Negative,N/A,25.90,Negative,N/A,N/A,N/A
30,27,Negative,N/A,25.81,Negative,N/A,N/A,N/A
31,28,Negative,N/A,24.92,Negative,N/A,N/A,N/A
32,29,Negative,N/A,26.00,Negative,N/A,N/A,N/A
33,30,Negative,N/A,25.61,Negative,N/A,N/A,N/A
34,31,100,37.37,25.22,Positive,N/A,N/A,N/A
35,32,100,37.00,25.12,Positive,N/A,N/A,N/A
36,33,100,37.01,25.05,Positive,N/A,N/A,N/A
37,34,100,36.58,25.12,Positive,N/A,N/A,N/A
38,35,100,37.31,24.95,Positive,N/A,N/A,N/A
39,36,100,N/A,25.42,Negative,FAIL,FAIL,FAIL
40,37,100,37.37,25.64,Positive,N/A,N/A,N/A
41,38,100,35.89,25.78,Positive,N/A,N/A,N/A
42,39,100,39.58,25.37,Positive,N/A,N/A,N/A
43,40,100,36.84,25.48,Positive,N/A,N/A,N/A
44,41,100,38.63,25.30,Positive,N/A,N/A,N/A
45,42,100,36.71,25.29,Positive,N/A,N/A,N/A
46,43,100,36.56,25.57,Positive,N/A,N/A,N/A
47,44,100,37.44,25.61,Positive,N/A,N/A,N/A
48,45,100,37.65,25.24,Positive,N/A,N/A,N/A
49,46,100,35.92,25.36,Positive,N/A,N/A,N/A
50,47,100,36.56,25.48,Positive,N/A,N/A,N/A
51,48,100,35.42,25.39,Positive,N/A,N/A,N/A
52,49,100,38.22,26.01,Positive,N/A,N/A,N/A
53,50,100,36.64,25.51,Positive,N/A,N/A,N/A
54,51,200,35.08,26.02,Positive,N/A,N/A,N/A
55,52,200,36.18,25.32,REPEAT,REPEAT,REPEAT,REPEAT
56,53,200,35.41,25.10,Positive,N/A,N/A,N/A
57,54,200,36.01,25.69,REPEAT,REPEAT,REPEAT,REPEAT
58,55,200,38.44,25.30,REPEAT,REPEAT,REPEAT,REPEAT
59,56,200,36.26,25.02,REPEAT,REPEAT,REPEAT,REPEAT
60,57,200,35.95,25.48,Positive,N/A,N/A,N/A
61,58,200,35.10,25.27,Positive,N/A,N/A,N/A
62,59,200,36.61,25.28,REPEAT,REPEAT,REPEAT,REPEAT
63,60,200,36.64,25.17,REPEAT,REPEAT,REPEAT,REPEAT
64,61,200,35.45,25.77,Positive,N/A,N/A,N/A
65,62,200,37.28,25.94,REPEAT,REPEAT,REPEAT,REPEAT
66,63,200,35.98,25.21,Positive,N/A,N/A,N/A
67,64,200,35.82,25.37,Positive,N/A,N/A,N/A
68,65,200,N/A,25.73,Negative,FAIL,FAIL,FAIL
69,66,200,37.55,26.06,REPEAT,REPEAT,REPEAT,REPEAT
70,67,200,37.46,25.92,REPEAT,REPEAT,REPEAT,REPEAT
71,68,200,35.35,25.44,Positive,N/A,N/A,N/A
72,69,200,35.37,26.08,Positive,N/A,N/A,N/A
73,70,200,36.24,25.93,REPEAT,REPEAT,REPEAT,REPEAT
74,71,2000,30.56,25.72,Positive,N/A,N/A,N/A
75,72,2000,30.57,25.45,Positive,N/A,N/A,N/A
76,73,2000,30.34,25.80,Positive,N/A,N/A,N/A
77,74,2000,30.55,25.46,Positive,N/A,N/A,N/A
78,75,2000,30.48,25.33,Positive,N/A,N/A,N/A
79,76,20000,27.40,25.16,Positive,N/A,N/A,N/A
80,77,20000,27.19,25.15,Positive,N/A,N/A,N/A
81,78,20000,27.21,25.69,Positive,N/A,N/A,N/A
82,79,20000,27.24,25.72,Positive,N/A,N/A,N/A
83,80,20000,27.49,25.82,Positive,N/A,N/A,N/A

Run 384 together

In [10]:
accuracyValidationMethod_384(accuracyMap_Quad1 = 'KF MAP 2.xlsx', 
                                accuracyMap_Quad2 = 'KF MAP 3.xlsx', 
                                accuracyMap_Quad3 = 'KF MAP 3.xlsx',
                                accuracyMap_Quad4 = 'KF MAP 3.xlsx',
                                file = 'AUTO HAMILTON BETH 384 ACCURACY 2021-01-26 (1) -  Quantification Plate View Results.xlsx', 
                                format_384 = True)#.to_excel('QC Report Data - 384 BETH Hamilton Accuracy.xlsx')